[Desktop Entry]
Encoding=UTF-8
Name=Pentakle
Comment=Pentakle P2P Cryptocurrency
Comment[fr]=Pentakle, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pentakle, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pentakle-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pentakle128.png
MimeType=x-scheme-handler/pentakle;
Categories=Office;
