#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_pentakle
#build/pentakled::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_pentakle)

DEB_INSTALL_EXAMPLES_pentakled += debian/examples/*
DEB_INSTALL_MANPAGES_pentakled += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix pentakled
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f pentakle-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake pentakle-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_pentakle
	src/test_pentakle

# Ensure wrapper is set executable
binary-post-install/pentakled:
	chmod +x $(cdbs_curdestdir)usr/bin/pentakled
binary-post-install/pentakle-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/pentakle-qt
